.tile_container {
  color: white;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.8);
}
/*.tile_row {
  background-color: rgba(0, 0, 0, 0.8);
}*/
.card_container {
  color: white;
  line-height: 1.5;
}
.card_row {
  background-color: rgba(0, 0, 0, 0.8);
}
.card_container .game_img {
  position: absolute;
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  align-items: center;
}
.tile_container .game_img {
  position: absolute;
  max-height: 100%;
  max-width: 95%;
  width: auto;
  height: auto;
  align-items: center;
}

.hexagon {
  position: relative;
  width: 80px;
  height: 46.189333333px;
  background-color: #1d8acd;
  margin: 10px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 23.1px solid #1d8acd;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.1px solid #1d8acd;
}

.rating {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  z-index: 100;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
}
.game_data {
  color: #ffd866;
}
.centered {
  text-align: center;
}
.borderTop {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.borderRight {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.opaque {
  max-height: 171px;
  width: 100%;
  opacity: 0.4;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.tile_container .game_data {
  margin-top: 0.6em;
  font-size: 14px;
  /*font-size: 1.5em;*/
  line-height: 10px;
  font-weight: 400;
  text-align: center;
}
/*.bkg_img {
  display: inline-block;
  align-items: center;
  background-position: "center";
  background-size: 100% 100%;
  background-repeat: "no-repeat";
}*/
