.tile_container {
  color: white;
  line-height: 1.5;
}
.tile_row {
  background-color: rgba(0, 0, 0, 0.8);
}
.game_img {
  position: absolute;
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  align-items: center;
}
.hexagon {
  position: relative;
  width: 80px; 
  height: 46.189333333px;
  background-color: #1d8acd;
  margin: 10px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 23.10px solid #1d8acd;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.10px solid #1d8acd;
}

.rating {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  z-index: 100;
}

.vcenter {display:inline-block;
  vertical-align:middle;
  padding: 20px 0;
}
