/*.row {
  border-bottom: 1px red solid;
}
div[class^="col-sm-"] {
  border: 1px orange solid;
}*/
.tile_container {
  color: white;
  line-height: 1.2;
  background-color: rgba(50, 50, 50, 1);
  max-width: 600px;
}
.tile_container .display.row {
  height: 7.2em;
}
.tile_container .game_img_col {
  padding: 0;
  height: 7.2em;
}
.tile_container .game_img_col .game_img {
  color: #ffd866;
  padding: 0.5em;
  padding-right: 0;

  max-height: 100%;

  max-width: 100%;
  width: auto;
  height: auto;
  align-items: center;
  margin: 0 0;
}

.tile_container .display.row .game_title_col {
  line-height: 1.2em;
  padding-left: 0;
  padding-right: 1.5em;
  padding-top: 0.5em;
}

/* Line clamping. Needs plain background
http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/  
*/
.tile_container .display.row .game_title_col .game_title {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 4.8em; /* 1.2em for each visible line */
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  margin-right: -1em; /* remove if parent has overflow: hidden or auto*/
  padding-right: 1em;

  font-size: 1.2rem;
}
.tile_container .display.row .game_title_col .game_title:before {
  position: absolute;
  content: "...";
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.tile_container .display.row .game_title_col .game_title:after {
  position: absolute;
  content: "";
  /* to cover ..., set position to right bottom corner of text (not of block!) */
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background-color: rgb(50, 50, 50);
}

.tile_container .stats.row {
  padding-bottom: 0.5em;
}
.tile_container .stats p {
  color: #ffd866;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.85rem;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
}
.tile_container .stats span {
  display: block;
}

.tile_container .stats .game_title {
  display: flex;
  font-weight: 500;
  line-height: 1.2em;
}
.tile_container .game_title div {
  bottom: 0em;
  font-size: 1em;
  line-height: 1.2em;
  min-height: 3.5em;
}
.tile_container .vcenter {
  display: inline-block;
  vertical-align: middle;
}
.tile_container .rating {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  z-index: 100;
}
.centered {
  text-align: center;
}
.borderTop {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.borderRight {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
